.hero__container {
  display: block;
  position: relative;
  height: 100vh;
  background: rgb(64, 64, 64);
  background: linear-gradient(
    0deg,
    rgba(64, 64, 64, 1) 0%,
    rgba(252, 175, 60, 1) 100%
  );
  z-index: 1;
}
.hero__container2 {
  display: block;
  position: relative;
  height: 100vh;
  background-color: #193549;
  z-index: -1;
}
.hero__content {
  height: 100vh;
  background-color: transparent;
  color: white;
}

.hero__glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.hero__glassmorphism2 {
  /* background: rgb(252, 176, 69);
  background: radial-gradient(
    circle,
    rgba(252, 176, 69, 1) 0%,
    rgba(241, 198, 74, 1) 50%,
    rgba(64, 64, 64, 1) 100%
  ); */

  box-shadow: 0 18px 42px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}
